stages:
  - prepare
  - test
  - publish

image: python:3.7
variables:
  PYTHONPATH: src/main/python/
  PIPENV_VENV_IN_PROJECT: "true"

cache: &python_cache
  key: venv
  paths:
    - .venv/
  policy: pull

before_script:
  - "[[ -d .venv ]] && source .venv/bin/activate"

prepare-env:
  stage: prepare
  cache:
    <<: *python_cache
    policy: pull-push
  script:
    - python -m pip install -U pip pipenv
    - pipenv install --dev
    - pipenv lock -r > requirements.txt
    - pipenv lock -dr > requirements-dev.txt
  artifacts:
    paths:
      - requirements.txt
      - requirements-dev.txt

test:
  stage: test
  script:
    - coverage run --source src/main/python -m unittest discover -s "src/test/python"
    - coverage xml
    - coverage report
  artifacts:
    paths:
      - .coverage
      - coverage.xml

publish:
  stage: publish
  only:
    - tags
  script:
    - python setup.py sdist
    - twine upload dist/*
  artifacts:
    paths:
      - dist/
